.box{
   width: 200px;
   height: 200px;
   outline: 1px solid red;
   animation-name: moveInstent;
   animation-duration: 1500ms;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
animation-iteration-count: infinite;
animation-direction: alternate;
}

.images{
   display: block;
   width: 150px;
   height: 150px;
}
@keyframes moveInstent {
   0%{
transform: translateX(0);
   }
   25%{
      transform: scale(1.5);
   }
   50%{
    opacity:0.5;
    transform:scale(2);
   
   }
   100%{
transform: translateX(0);

   }
}